certifi==2026.7.22
charset-normalizer==3.5.1
cloudpickle==3.1.2
contourpy==1.4.0
cycler==0.12.1
decorator==5.3.1
dionysus==2.2.3
fonttools==4.65.0
idna==3.20
iniconfig==2.3.0
intervaltree==3.2.1
Jinja2==3.1.6
joblib==1.6.0
kiwisolver==1.5.1
lazy-loader==0.5
MarkupSafe==3.0.3
matplotlib==3.10.3
mne==1.10.1
numpy==2.2.6
packaging==26.3
pillow==12.3.0
platformdirs==4.11.11
pluggy==1.6.0
pooch==1.9.0
pyparsing==3.3.2
pyriemann==0.8
pytest==8.3.5
python-dateutil==2.9.0.post0
requests==2.34.2
scikit-learn==1.6.1
scipy==1.15.3
six==1.17.0
sortedcontainers==2.4.0
threadpoolctl==3.7.0
tqdm==4.70.1
urllib3==2.8.0
